.py[cod]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python

.fleet/
.code/
.idea/
.venv/

models/

results/pendulum/*
results/rover/*

!results/pendulum/.gitkeep
!results/rover/.gitkeep